<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Pig Latinizer</title>
    </head>

    <body>
        <h1>Pig Latinized phrase: <%= @latinized_phrase %> </h1>
    </body>

</html>